.home-page {
  height: 50rem;

  .title {
    letter-spacing: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 43px;
    font-weight: 500;
  }
  .secondary-title {
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-size: 25px;
    line-height: 32px;
  }
}
